# Creating August Schedule

In [1]:
## Setup and Imports
import sys
from pathlib import Path
import os
import pandas as pd
from datetime import date, timedelta

In [2]:
# Add project root (one level up from 'notebooks') to sys.path
project_root = Path.cwd().parent
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

In [3]:
# Import our scheduling engine
from engine.engine import create_im_schedule

## IM Schedule

In [4]:
# Run the scheduler from August 4-29
schedule_df, provider_summary_df, solution_status = create_im_schedule(
    config_path = '../config/internal_medicine.yml',
    leave_requests_path = '../data/leave_requests.csv',
    inpatient_path = '../data/inpatient.csv',
    start_date = date(2025, 8, 4),
    end_date = date(2025, 8, 29),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-05-21 17:39:01,938 - engine.engine - INFO - Creating schedule for Internal Medicine from 2025-08-04 to 2025-08-29
2025-05-21 17:39:01,950 - engine.engine - INFO - Parsing input files
2025-05-21 17:39:01,958 - engine.engine - INFO - Building calendar
2025-05-21 17:39:01,958 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-05-21 17:39:01,958 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-05-21 17:39:01,973 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-05-21 17:39:01,973 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-05-21 17:39:01,993 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-05-21 17:39:01,994 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-05-21 17:39:02,010 - engine.engine - INFO - Found optimal solution with min_providers = 2
2025-05-21 17:39:02,011 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 2

In [5]:
schedule_df

,date,day_of_week,session,providers,count
0,2025-08-04,Monday,morning,"Mcrae,Miles,Orcutt",3
1,2025-08-04,Monday,afternoon,"Mcrae,Miles,Orcutt",3
2,2025-08-05,Tuesday,morning,"Miles,Orcutt,Selig,Stewart,Tanay",5
3,2025-08-05,Tuesday,afternoon,"Mcrae,Orcutt,Selig,Stewart,Tanay",5
4,2025-08-06,Wednesday,morning,"Orcutt,Selig,Stewart,Tanay",4
5,2025-08-06,Wednesday,afternoon,"Selig,Tanay",2
6,2025-08-07,Thursday,afternoon,"Mcrae,Selig,Tanay",3
7,2025-08-08,Friday,morning,"Mcrae,Stewart,Tanay",3
8,2025-08-08,Friday,afternoon,"Mcrae,Selig",2
9,2025-08-11,Monday,morning,"Miles,Selig",2
10,2025-08-11,Monday,afternoon,"Miles,Selig",2
11,2025-08-12,Tuesday,morning,"Miles,Stewart,Tanay,Wadlin",4
12,2025-08-12,Tuesday,afternoon,"Bornstein,Stewart,Tanay,Wadlin",4
13,2025-08-13,Wednesday,morning,"Mcrae,Selig,Stewart,Tanay,Wadlin",5
14,2025-08-13,Wednesday,afternoon,"Mcrae,Selig,Tanay,Wadlin",4
15,2025-08-14,Thursday,afternoon,"Bornstein,Mcrae,Selig,Tanay",4
16,2025-08-15,Friday,morning,"Mcrae,Stewart,Tanay,Wadlin",4
17,2025-08-15,Friday,afternoon,"Mcrae,Selig",2
18,2025-08-18,Monday,morning,"Mcrae,Selig",2
19,2025-08-18,Monday,afternoon,"Mcrae,Selig",2
20,2025-08-19,Tuesday,morning,"Bornstein,Stewart,Tanay",3
21,2025-08-19,Tuesday,afternoon,"Bornstein,Stewart,Tanay",3
22,2025-08-20,Wednesday,morning,"Bornstein,Mcrae,Selig,Stewart,Tanay",5
23,2025-08-20,Wednesday,afternoon,"Mcrae,Selig,Tanay",3
24,2025-08-21,Thursday,afternoon,"Selig,Tanay",2
25,2025-08-22,Friday,morning,"Mcrae,Selig,Stewart,Tanay",4
26,2025-08-22,Friday,afternoon,"Bornstein,Mcrae",2
27,2025-08-25,Monday,morning,"Mcrae,Tanay",2
28,2025-08-25,Monday,afternoon,"Mcrae,Tanay",2
29,2025-08-26,Tuesday,morning,"Bornstein,Selig,Stewart,Tanay,Wadlin",5
30,2025-08-26,Tuesday,afternoon,"Bornstein,Selig,Stewart,Tanay,Wadlin",5
31,2025-08-27,Wednesday,morning,"Mcrae,Selig,Stewart,Tanay,Wadlin",5
32,2025-08-27,Wednesday,afternoon,"Bornstein,Mcrae,Selig,Tanay",4
33,2025-08-28,Thursday,afternoon,"Mcrae,Selig",2
34,2025-08-29,Friday,morning,"Selig,Stewart",2
35,2025-08-29,Friday,afternoon,"Bornstein,Mcrae",2

In [6]:
schedule_df.to_csv('../output/im_schedule_df.csv', index = False)

In [7]:
provider_summary_df

    provider  week_32  week_33  week_34  week_35  total_sessions
0  Bornstein        0        2        4        4              10
1      Mcrae        6        5        6        6              23
2      Miles        3        3        0        0               6
3     Orcutt        5        0        0        0               5
4      Selig        6        6        6        6              24
5    Stewart        4        4        4        4              16
6      Tanay        6        6        6        6              24
7     Wadlin        0        5        0        3               8

In [8]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 2,
 'Objective value': 3600.0,
 'Solve time': '0.021449 seconds',
 'Branches': 635,
 'Conflicts': 0}

## Peds Schedule

In [9]:
# Import our scheduling engine
from engine.engine import create_peds_schedule

In [10]:
# Run the scheduler from August 4-29
schedule_df, provider_summary_df, call_summary_df, solution_status = create_peds_schedule(
    config_path = '../config/pediatric.yml',
    leave_requests_path = '../data/leave_requests.csv',
    inpatient_path = '../data/inpatient.csv',
    start_date = date(2025, 8, 3),
    end_date = date(2025, 8, 29),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-05-21 17:39:02,036 - engine.engine - INFO - Creating schedule for Pediatric from 2025-08-03 to 2025-08-29
2025-05-21 17:39:02,038 - engine.engine - INFO - Parsing input files
2025-05-21 17:39:02,045 - engine.engine - INFO - Building calendar
2025-05-21 17:39:02,046 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-05-21 17:39:02,046 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-05-21 17:39:02,066 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-05-21 17:39:02,067 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-05-21 17:39:02,085 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-05-21 17:39:02,086 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-05-21 17:39:02,165 - engine.engine - WARNING - No feasible solution found with min_providers = 2
2025-05-21 17:39:02,166 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 1
2025-05-21 17:39:02,209 - engine.engine - INFO - Found optimal solution with min_providers = 1
2025-05-21 17:39:02,211 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 1

In [11]:
schedule_df

          date day_of_week   sessions                        providers  count
0   2025-08-03      Sunday       call                            Brush    NaN
1   2025-08-04      Monday    morning              Brush,Carrasco,Tarr    3.0
2   2025-08-04      Monday  afternoon                    Carrasco,Tarr    2.0
3   2025-08-04      Monday       call                         Carrasco    NaN
4   2025-08-05     Tuesday    morning                    Carrasco,Tarr    2.0
5   2025-08-05     Tuesday  afternoon                             Tarr    1.0
6   2025-08-05     Tuesday       call                             Tarr    NaN
7   2025-08-06   Wednesday    morning     Carrasco,Miller,Sridhar,Tarr    4.0
8   2025-08-06   Wednesday  afternoon          Carrasco,Miller,Sridhar    3.0
9   2025-08-06   Wednesday       call                           Powell    NaN
10  2025-08-07    Thursday  afternoon     Carrasco,Miller,Sridhar,Tarr    4.0
11  2025-08-07    Thursday       call                            Brush    NaN
12  2025-08-08      Friday    morning                           Miller    1.0
13  2025-08-08      Friday  afternoon                           Miller    1.0
14  2025-08-10      Sunday       call                           Powell    NaN
15  2025-08-11      Monday    morning                   Miller,Sridhar    2.0
16  2025-08-11      Monday  afternoon          Menachof,Miller,Sridhar    3.0
17  2025-08-11      Monday       call                         Menachof    NaN
18  2025-08-12     Tuesday    morning           Mador,Menachof,Sridhar    3.0
19  2025-08-12     Tuesday  afternoon                    Mador,Sridhar    2.0
20  2025-08-12     Tuesday       call                          Sridhar    NaN
21  2025-08-13   Wednesday    morning                    Mador,Sridhar    2.0
22  2025-08-13   Wednesday  afternoon             Brush,Mador,Menachof    3.0
23  2025-08-13   Wednesday       call                            Mador    NaN
24  2025-08-14    Thursday  afternoon                   Miller,Sridhar    2.0
25  2025-08-14    Thursday       call                            Brush    NaN
26  2025-08-15      Friday    morning                           Miller    1.0
27  2025-08-15      Friday  afternoon                           Miller    1.0
28  2025-08-17      Sunday       call                            Brush    NaN
29  2025-08-18      Monday    morning                   Miller,Sridhar    2.0
30  2025-08-18      Monday  afternoon                           Miller    1.0
31  2025-08-18      Monday       call                           Powell    NaN
32  2025-08-19     Tuesday    morning           Bedelle,Miller,Sridhar    3.0
33  2025-08-19     Tuesday  afternoon           Bedelle,Miller,Sridhar    3.0
34  2025-08-19     Tuesday       call                             Shin    NaN
35  2025-08-20   Wednesday    morning  Bedelle,Carrasco,Miller,Sridhar    4.0
36  2025-08-20   Wednesday  afternoon  Bedelle,Carrasco,Miller,Sridhar    4.0
37  2025-08-20   Wednesday       call                           Miller    NaN
38  2025-08-21    Thursday  afternoon         Bedelle,Carrasco,Sridhar    3.0
39  2025-08-21    Thursday       call                          Bedelle    NaN
40  2025-08-22      Friday    morning                          Bedelle    1.0
41  2025-08-22      Friday  afternoon                            Brush    1.0
42  2025-08-24      Sunday       call                         Carrasco    NaN
43  2025-08-25      Monday    morning                 Carrasco,Sridhar    2.0
44  2025-08-25      Monday  afternoon                     Shin,Sridhar    2.0
45  2025-08-25      Monday       call                             Shin    NaN
46  2025-08-26     Tuesday    morning        Carrasco,Menachof,Sridhar    3.0
47  2025-08-26     Tuesday  afternoon                 Carrasco,Sridhar    2.0
48  2025-08-26     Tuesday       call                         Menachof    NaN
49  2025-08-27   Wednesday    morning                         Carrasco    1.0
50  2025-08-27   Wednesday  afternoon                         Carrasco    1.0
51  2025-08-27   Wednesday       call                            Brush    NaN
52  2025-08-28    Thursday  afternoon                         Carrasco    1.0
53  2025-08-28    Thursday       call                           Powell    NaN
54  2025-08-29      Friday    morning                             Shin    1.0
55  2025-08-29      Friday  afternoon                            Brush    1.0

In [12]:
schedule_df.to_csv('../output/peds_schedule_df.csv', index = False)

In [13]:
provider_summary_df

   provider  week_32  week_33  week_34  week_35  total_clinic
0   Bedelle        0        0        6        0             6
1     Brush        1        1        1        1             4
2  Carrasco        6        0        3        6            15
3     Mador        0        4        0        0             4
4  Menachof        0        3        0        1             4
5    Miller        5        5        6        0            16
6    Powell        0        0        0        0             0
7      Shin        0        0        0        2             2
8   Sridhar        3        6        6        4            19
9      Tarr        6        0        0        0             6

In [14]:
call_summary_df

   provider  week_30  week_31  week_32  week_33  week_34  total_call
0   Bedelle        0        0        0        1        0           1
1     Brush        1        1        2        0        1           5
2  Carrasco        0        1        0        1        0           2
3     Mador        0        0        1        0        0           1
4  Menachof        0        0        1        0        1           2
5    Miller        0        0        0        1        0           1
6    Powell        0        2        0        1        1           4
7      Shin        0        0        0        1        1           2
8   Sridhar        0        0        1        0        0           1
9      Tarr        0        1        0        0        0           1

In [15]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 1,
 'Objective value': 8800.0,
 'Solve time': '0.017602 seconds',
 'Branches': 76,
 'Conflicts': 0}