# Creating August Schedule

In [1]:
## Setup and Imports
import sys
from pathlib import Path
import os
import pandas as pd
from datetime import date, timedelta

In [2]:
# Add project root (one level up from 'notebooks') to sys.path
project_root = Path.cwd().parent
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

In [3]:
# Import our scheduling engine
from engine.engine import create_im_schedule

## IM Schedule

In [4]:
# Run the scheduler from August 4-29
schedule_df, provider_summary_df, solution_status = create_im_schedule(
    config_path = '../config/internal_medicine.yml',
    leave_requests_path = '../data/leave_requests.csv',
    inpatient_path = '../data/inpatient.csv',
    start_date = date(2025, 8, 4),
    end_date = date(2025, 8, 29),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-05-14 22:50:40,207 - engine.engine - INFO - Creating schedule for Internal Medicine from 2025-08-04 to 2025-08-29
2025-05-14 22:50:40,220 - engine.engine - INFO - Parsing input files
2025-05-14 22:50:40,227 - engine.engine - INFO - Building calendar
2025-05-14 22:50:40,228 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-05-14 22:50:40,228 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-05-14 22:50:40,242 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-05-14 22:50:40,242 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-05-14 22:50:40,261 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-05-14 22:50:40,261 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-05-14 22:50:40,278 - engine.engine - INFO - Found optimal solution with min_providers = 2
2025-05-14 22:50:40,279 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 2

In [5]:
schedule_df

,date,day_of_week,session,providers,count
0,2025-08-04,Monday,morning,"Mcrae,Miles",2
1,2025-08-04,Monday,afternoon,"Mcrae,Miles",2
2,2025-08-05,Tuesday,morning,"Mcrae,Miles,Selig,Stewart,Tanay",5
3,2025-08-05,Tuesday,afternoon,"Mcrae,Selig,Stewart,Tanay",4
4,2025-08-06,Wednesday,morning,"Selig,Stewart,Tanay",3
5,2025-08-06,Wednesday,afternoon,"Selig,Tanay",2
6,2025-08-07,Thursday,afternoon,"Mcrae,Selig,Tanay",3
7,2025-08-08,Friday,morning,"Stewart,Tanay",2
8,2025-08-08,Friday,afternoon,"Mcrae,Selig",2
9,2025-08-11,Monday,morning,"Miles,Selig",2
10,2025-08-11,Monday,afternoon,"Miles,Selig",2
11,2025-08-12,Tuesday,morning,"Miles,Stewart,Tanay,Wadlin",4
12,2025-08-12,Tuesday,afternoon,"Bornstein,Stewart,Tanay,Wadlin",4
13,2025-08-13,Wednesday,morning,"Mcrae,Selig,Stewart,Tanay,Wadlin",5
14,2025-08-13,Wednesday,afternoon,"Mcrae,Selig,Tanay,Wadlin",4
15,2025-08-14,Thursday,afternoon,"Bornstein,Mcrae,Selig,Tanay",4
16,2025-08-15,Friday,morning,"Mcrae,Stewart,Tanay,Wadlin",4
17,2025-08-15,Friday,afternoon,"Mcrae,Selig",2
18,2025-08-18,Monday,morning,"Mcrae,Selig",2
19,2025-08-18,Monday,afternoon,"Mcrae,Selig",2
20,2025-08-19,Tuesday,morning,"Bornstein,Stewart,Tanay",3
21,2025-08-19,Tuesday,afternoon,"Bornstein,Stewart,Tanay",3
22,2025-08-20,Wednesday,morning,"Bornstein,Mcrae,Selig,Stewart,Tanay",5
23,2025-08-20,Wednesday,afternoon,"Mcrae,Selig,Tanay",3
24,2025-08-21,Thursday,afternoon,"Selig,Tanay",2
25,2025-08-22,Friday,morning,"Mcrae,Selig,Stewart,Tanay",4
26,2025-08-22,Friday,afternoon,"Bornstein,Mcrae",2
27,2025-08-25,Monday,morning,"Bornstein,Mcrae",2
28,2025-08-25,Monday,afternoon,"Bornstein,Mcrae",2
29,2025-08-26,Tuesday,morning,"Selig,Stewart,Tanay,Wadlin",4
30,2025-08-26,Tuesday,afternoon,"Selig,Stewart,Tanay,Wadlin",4
31,2025-08-27,Wednesday,morning,"Mcrae,Selig,Stewart,Tanay,Wadlin",5
32,2025-08-27,Wednesday,afternoon,"Bornstein,Mcrae,Selig,Tanay",4
33,2025-08-28,Thursday,afternoon,"Mcrae,Selig,Tanay",3
34,2025-08-29,Friday,morning,"Selig,Stewart,Tanay",3
35,2025-08-29,Friday,afternoon,"Bornstein,Mcrae",2

In [6]:
provider_summary_df

    provider  week_32  week_33  week_34  week_35  total_sessions
0  Bornstein        0        2        4        4              10
1      Mcrae        6        5        6        6              23
2      Miles        3        3        0        0               6
3     Orcutt        0        0        0        0               0
4      Selig        6        6        6        6              24
5    Stewart        4        4        4        4              16
6      Tanay        6        6        6        6              24
7     Wadlin        0        5        0        3               8

In [7]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 2,
 'Objective value': 4100.0,
 'Solve time': '0.019750 seconds',
 'Branches': 640,
 'Conflicts': 0}

## Peds Schedule

In [8]:
# Import our scheduling engine
from engine.engine import create_peds_schedule

In [9]:
# Run the scheduler from August 4-29
schedule_df, provider_summary_df, call_summary_df, solution_status = create_peds_schedule(
    config_path = '../config/pediatric.yml',
    leave_requests_path = '../data/leave_requests.csv',
    inpatient_path = '../data/inpatient.csv',
    start_date = date(2025, 8, 3),
    end_date = date(2025, 8, 29),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-05-14 22:50:40,299 - engine.engine - INFO - Creating schedule for Pediatric from 2025-08-03 to 2025-08-29
2025-05-14 22:50:40,300 - engine.engine - INFO - Parsing input files
2025-05-14 22:50:40,307 - engine.engine - INFO - Building calendar
2025-05-14 22:50:40,308 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-05-14 22:50:40,308 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-05-14 22:50:40,329 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-05-14 22:50:40,330 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-05-14 22:50:40,350 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-05-14 22:50:40,351 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-05-14 22:50:40,370 - engine.engine - WARNING - No feasible solution found with min_providers = 2
2025-05-14 22:50:40,370 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 1
2025-05-14 22:50:40,403 - engine.engine - INFO - Found optimal solution with min_providers = 1
2025-05-14 22:50:40,405 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 1

In [10]:
schedule_df

,date,day_of_week,sessions,providers,count
0,2025-08-03,Sunday,call,Bedelle,NaN
1,2025-08-04,Monday,morning,"Bedelle,Carrasco",2.0
2,2025-08-04,Monday,afternoon,Carrasco,1.0
3,2025-08-04,Monday,call,Carrasco,NaN
4,2025-08-05,Tuesday,morning,"Bedelle,Carrasco",2.0
5,2025-08-05,Tuesday,afternoon,Bedelle,1.0
6,2025-08-05,Tuesday,call,Powell,NaN
7,2025-08-06,Wednesday,morning,"Carrasco,Miller,Sridhar",3.0
8,2025-08-06,Wednesday,afternoon,"Carrasco,Miller,Sridhar",3.0
9,2025-08-06,Wednesday,call,Sridhar,NaN
10,2025-08-07,Thursday,afternoon,"Bedelle,Carrasco,Miller",3.0
11,2025-08-07,Thursday,call,Miller,NaN
12,2025-08-08,Friday,morning,"Bedelle,Miller",2.0
13,2025-08-08,Friday,afternoon,Bedelle,1.0
14,2025-08-10,Sunday,call,Sridhar,NaN
15,2025-08-11,Monday,morning,"Bedelle,Miller,Sridhar",3.0
16,2025-08-11,Monday,afternoon,"Bedelle,Menachof,Miller",3.0
17,2025-08-11,Monday,call,Menachof,NaN
18,2025-08-12,Tuesday,morning,"Bedelle,Mador,Menachof,Sridhar",4.0
19,2025-08-12,Tuesday,afternoon,"Bedelle,Mador,Sridhar",3.0
20,2025-08-12,Tuesday,call,Bedelle,NaN
21,2025-08-13,Wednesday,morning,"Bedelle,Mador,Menachof,Sridhar",4.0
22,2025-08-13,Wednesday,afternoon,"Mador,Sridhar",2.0
23,2025-08-13,Wednesday,call,Mador,NaN
24,2025-08-14,Thursday,afternoon,"Bedelle,Miller,Sridhar",3.0
25,2025-08-14,Thursday,call,Powell,NaN
26,2025-08-15,Friday,morning,Miller,1.0
27,2025-08-15,Friday,afternoon,Miller,1.0
28,2025-08-17,Sunday,call,Sridhar,NaN
29,2025-08-18,Monday,morning,"Miller,Sridhar",2.0
30,2025-08-18,Monday,afternoon,Miller,1.0
31,2025-08-18,Monday,call,Miller,NaN
32,2025-08-19,Tuesday,morning,"Bedelle,Carrasco,Miller,Sridhar",4.0
33,2025-08-19,Tuesday,afternoon,"Bedelle,Carrasco,Sridhar",3.0
34,2025-08-19,Tuesday,call,Shin,NaN
35,2025-08-20,Wednesday,morning,"Bedelle,Carrasco,Miller,Sridhar",4.0
36,2025-08-20,Wednesday,afternoon,"Bedelle,Carrasco,Miller,Sridhar",4.0
37,2025-08-20,Wednesday,call,Carrasco,NaN
38,2025-08-21,Thursday,afternoon,"Miller,Sridhar",2.0
39,2025-08-21,Thursday,call,Powell,NaN
40,2025-08-22,Friday,morning,Bedelle,1.0
41,2025-08-22,Friday,afternoon,Bedelle,1.0
42,2025-08-24,Sunday,call,Shin,NaN
43,2025-08-25,Monday,morning,"Bedelle,Carrasco,Sridhar",3.0
44,2025-08-25,Monday,afternoon,"Bedelle,Carrasco,Sridhar",3.0
45,2025-08-25,Monday,call,Carrasco,NaN
46,2025-08-26,Tuesday,morning,"Bedelle,Carrasco,Menachof,Sridhar",4.0
47,2025-08-26,Tuesday,afternoon,"Bedelle,Sridhar",2.0
48,2025-08-26,Tuesday,call,Menachof,NaN
49,2025-08-27,Wednesday,morning,"Bedelle,Carrasco",2.0
50,2025-08-27,Wednesday,afternoon,"Bedelle,Carrasco",2.0
51,2025-08-27,Wednesday,call,Bedelle,NaN
52,2025-08-28,Thursday,afternoon,Carrasco,1.0
53,2025-08-28,Thursday,call,Powell,NaN
54,2025-08-29,Friday,morning,Shin,1.0
55,2025-08-29,Friday,afternoon,Shin,1.0

In [11]:
provider_summary_df

   provider  week_32  week_33  week_34  week_35  total_clinic
0   Bedelle        6        6        6        6            24
1  Carrasco        6        0        4        6            16
2     Mador        0        4        0        0             4
3  Menachof        0        3        0        1             4
4    Miller        4        5        6        0            15
5    Powell        0        0        0        0             0
6      Shin        0        0        0        2             2
7   Sridhar        2        6        6        4            18
8      Tarr        0        0        0        0             0

In [12]:
call_summary_df

   provider  week_30  week_31  week_32  week_33  week_34  total_call
0   Bedelle        1        0        1        0        1           3
1  Carrasco        0        1        0        1        1           3
2     Mador        0        0        1        0        0           1
3  Menachof        0        0        1        0        1           2
4    Miller        0        1        0        1        0           2
5    Powell        0        1        1        1        1           4
6      Shin        0        0        0        2        0           2
7   Sridhar        0        2        1        0        0           3
8      Tarr        0        0        0        0        0           0

In [13]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 1,
 'Objective value': 7600.0,
 'Solve time': '0.017051 seconds',
 'Branches': 1368,
 'Conflicts': 12}